/codes/data/OurImages
/codes/data/OurMasks
/codes/data/images/
/codes/data/masks/
/codes/data/FalsePositives/
/codes/data/Crack/
/codes/data/NonCrack/
/codes/data/benchmark_images/
/codes/deepcrack_results/
/codes/checkpoints/*.pth
/codes/checkpoints/DeepCrack_CT260_FT1/checkpoints/*
/codes/data/__pycache__/
/codes/data/july2025_imgs/
/codes/model/__pycache__/
/codes/runs
