/data/OurImages
/data/OurMasks
/data/images/
/data/masks/
/data/FalsePositives/
/data/Crack/
/data/NonCrack/
/data/benchmark_images/
/data/july2025_imgs/*
/results/config/*
/results/images/*
/results/eval/*
/results/loss/*
/checkpoints/*.pth
/checkpoints/DeepCrack_CT260_FT1/checkpoints/*
/data/__pycache__/
/tools/__pycache__/
/july2025_imgs/
/model/__pycache__/
/runs
/__pycache__/
*.png
*.jpg
*.JPG
*.jpeg